<div class="table-responsive" *ngIf="profile">
    <table class="table table-hover">
      <tr>
        <td>{{profile.username}}</td>
        <td>
          <!-- TODO only show if user is admin -->
          <span *ngIf="true">
            <span *ngIf="profile.type == 'user'">
              <button class="btn btn-success btn-sm" (click)="promoteUser()">Promote</button>
            </span>
            <button class="btn btn-danger btn-sm" (click)="banUser()">Ban</button>
          </span>
        </td>
      </tr>
      <tr>
        <td>{{profile.firstName}}</td>
        <td>{{profile.lastName}}</td>
      </tr>
      <tr>
        <!-- TODO: Recipe list, Review list-->
        <td>Recipes</td>
        <td>Reviews</td>
      </tr>
    </table>
    </div>
    