<div class="table-responsive" *ngIf="history && history.length > 0; else noHistory">
  <h1>History</h1>
  <table class="table table-hover">
    <tr>
      <th>Recipe</th>
      <th>Creator</th>
      <!-- <th>Saved</th> -->
      <th>Score</th>
      <th>Review</th>
    </tr>
    <tr *ngFor="let hist of history">
      <td><a routerLink="/detail/{{hist.recipe.recipeId}}">{{hist.recipe.name}}</a></td>
      <td><a routerLink="/profile/{{hist.recipe.creator.userId}}">{{hist.recipe.creator.firstName}} {{hist.recipe.creator.lastName}}</a></td>
      <!-- <td>{{hist.saved}}</td> -->
      <td>{{hist.score}}</td>
      <td>{{hist.review}}</td>
      <!-- <td><button class="btn btn-primary btn-sm" (click)="viewProfile(profile.userId)">View</button></td> -->
    </tr>
  </table>
  </div>
  <ng-template #noHistory><h1>No history available</h1></ng-template>