<div class="table-responsive" *ngIf="history && history.length > 0; else noHistory">
  <table class="table table-hover">
    <tr>
      <th>Recipe</th>
      <th>Creator</th>
      <th>Saved</th>
      <th>Score</th>
      <th>Review</th>
    </tr>
    <tr *ngFor="let hist of history">
      <td>{{hist.recipe.name}}</td>
      <td>{{hist.user.firstName}} {{hist.user.lastName}}</td>
      <td>{{hist.saved}}</td>
      <td>{{hist.score}}</td>
      <td>{{hist.review}}</td>
      <!-- <td><button class="btn btn-primary btn-sm" (click)="viewProfile(profile.userId)">View</button></td> -->
    </tr>
  </table>
  </div>
  <ng-template #noHistory><h1>User has no history</h1></ng-template>