<h2>Recipes!</h2>
<label>Create a new recipe
	<input type="submit" value="Click Here">
</label>

<ul class="recipes">
	<li *ngFor="let recipe of recipes"
	[class.selected]="recipe === selectedRecipe"	
	(click)="onSelect(recipe)">
		<span class="badge">{{recipe.id}}</span> {{recipe.name}}
	</li>
</ul>
<div *ngIf="selectedRecipe">

  <h2>{{selectedRecipe.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedRecipe.id}}</div>
  <div><span>name: </span>{{selectedRecipe.name}}</div>
  <div><span>Ingredients: </span>{{selectedRecipe.ingredients}}</div>
  <div><span>Instructions: </span>{{selectedRecipe.instructions}}</div>
  
</div> 
