<div style="text-align:center">
    <h1>
      Welcome to RECIPEAK!
    </h1>
    <img width="300" alt="RECIPEAK logo" src="http://samadaraginige.com/images/Mountain-negative-space-clouds.png">
  </div>
  <h2>LOG IN</h2> 
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button type="button" class="btn btn-success" (click)="letMeIn()">SUBMIT</button>

  </form>
